webhook basic.json
{
  "name": "webhook basic",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=google sheet",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "729f8d64-2e1c-469a-8209-e871b4946bae",
      "name": "Webhook",
      "webhookId": "d9be8b20-7e05-4bff-befe-4cf08693d34c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fb1fcd4-357c-4011-81d1-7195f9b7cc7f",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "a9a4c90a-22bc-4c42-9078-e52641fd3baa",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "1d5fd552-0b0d-47eb-adbb-9d3e59ced10c",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "31502834-22ea-4770-9d58-69e7da18b6bf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uheXHoGKniYwgOlFvu4O3dfZxNR1KG6bikIbf-5soBw",
          "mode": "list",
          "cachedResultName": "workhook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uheXHoGKniYwgOlFvu4O3dfZxNR1KG6bikIbf-5soBw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uheXHoGKniYwgOlFvu4O3dfZxNR1KG6bikIbf-5soBw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "073212b5-b565-4c68-8441-4ae117ce3dce",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "y20fixMalywKJRu7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03be3eef-e010-4ef7-b7fc-838e8faaba4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b27c9853d36336274f9235291aafdbfb523f7670fef2e0f832702148cf79242"
  },
  "id": "w9Zy4OlPwVv0SAHE",
  "tags": []
}